SECRET_KEY=

ALGORITHM="HS256"

ACCESS_TOKEN_EXPIRE_MINUTES=30

MONGO_URL=

REDIS_URL=

RATE_LIMIT=5
WINDOW_SECONDS=60

GOOGLE_CLIENT_ID=

GOOGLE_CLIENT_SECRET=

GOOGLE_REDIRECT_URL=

# this is what the .env looks like 